<div class="row container" style="margin-top: 20px;">

    <div #userProfile id="userProfile" class="col s3 card" style="background-color: #F1EEEE;">
        <h4 class="center"> Votre profil </h4>
        <hr style="width: 80%;">

        <div class="row" style="margin-top: 50px;">
            <img class="col s6 offset-s3 circle  responsive-img center"  src="assets/img/profilepictures/testPP.jpg">


        </div>
        <p style="font-weight: 600; font-size: 24px; margin-top: 10px;"
        class="center"> Pseudo du client</p>


        <div class="row" style="margin-top: 50px;">
            <p style="font-weight: 400; font-size: 18px;" class="col s4 offset-s2">Nom</p>
            <p style="font-weight: 400; font-size: 18px;" class="col s4 offset-s1">Prenom</p>
        </div>

        <p style="font-weight: 400; font-size: 18px; margin-left: 16.6666666667%;" >Date d'inscription</p>

        <div class="row" style="margin-top: 75px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3" 
            style="background-color: #9BE7FF;">Modifier</a>
        </div>

        <div class="row" style="margin-top: 75px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF;  margin-top: 50px; margin-bottom: 50px;">Se déconnecter</a>
        </div>

    </div>

    <div #details id="details" class="col s9 "  style="background-color: #ffffff;">

        <h4 class="center">  Pseudo du client </h4>
        <hr style="width: 75%;" class=" center">
        
        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3" 
            style="background-color: #9BE7FF;">Mes messages</a>
        </div>

        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF; ">Mes annonces</a>
        </div>

        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF; ">Mes statistiques</a>
        </div>
    </div>

</div>