<div class="row container" style="margin-top: 20px;">

    <div #userProfile id="userProfile" class="col s3 card" style="background-color: #F1EEEE;">
        <h4 class="center"> Votre profil </h4>
        <hr style="width: 80%;">

        <div class="row" style="margin-top: 50px;">
            <img class="col s6 offset-s3 circle  responsive-img center"  src="assets/img/profilepictures/testPP.jpg">


        </div>
        <p style="font-weight: 600; font-size: 24px; margin-top: 10px;"
        class="center"> Pseudo du client</p>


        <div class="row" style="margin-top: 50px;">
            <p style="font-weight: 400; font-size: 18px;" class="col s4 offset-s2">Nom</p>
            <p style="font-weight: 400; font-size: 18px;" class="col s4 offset-s1">Prenom</p>
        </div>

        <p style="font-weight: 400; font-size: 18px; margin-left: 16.6666666667%;" >Date d'inscription</p>

        <div class="row" style="margin-top: 75px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3" 
            style="background-color: #9BE7FF;">Modifier</a>
        </div>

        <div class="row" style="margin-top: 75px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF;  margin-top: 50px; margin-bottom: 50px;">Se déconnecter</a>
        </div>

    </div>

    <div #details id="details" class="col s9 "  style="background-color: #ffffff;">

        <h4 class="center">  Pseudo du client </h4>
        <hr style="width: 75%;" class=" center">
        
        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3" 
            style="background-color: #9BE7FF;" [routerLink]="['/messages']">Mes messages</a>
        </div>

        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF; " >Mes annonces</a>
        </div>

        <div class="row" style="margin-top: 150px;">
            <a class="waves-effect waves-light btn-large black-text col s6 offset-s3"
            style="background-color: #9BE7FF; " (click)="hideMeToShow(details, stats);">Mes statistiques</a>
        </div>
    </div>


    <div #stats id="stats" class="col s9 hide"  style="background-color: #ffffff;">

        <h4 class="center">  Statistiques </h4>
        <hr style="width: 75%;" class=" center">
        
        <div class="row">
            <h6 class="center" style="margin-top: 30px;">  Nombre de vues total </h6>
            <hr style="width: 50%;" class=" center">
            <p class="center" style="margin-bottom: 50px;"> 123123 vues </p>


            <h6 class="center" style="margin-top: 20px;">  Nombre de vues ces 7 dernier jours </h6>
            <hr style="width: 50%;" class=" center">
            <div class="col s10 offset-s1" style="padding: 0px;">
                <div class="indigo lighten-3" style="width: 60%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                     <p> 01/02/1234 : 123 vues </p></div>
                <div class="blue lighten-3" style="width: 70%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;"> 
                    <p> 02/02/1234 : 123 vues</p></div>
                <div class="deep-purple lighten-3" style="width: 90%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                    <p> 03/02/1234 : 123 vues</p></div>
                <div class="teal lighten-3" style="width: 50%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                    <p>04/02/1234 : 123 vues</p></div>
                <div class="green lighten-3" style="width: 30%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                    <p>05/02/1234 : 123 vues</p></div>
                <div class="light-green lighten-3" style="width: 45%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                    <p>06/02/1234 : 123 vues</p></div>
                <div class="orange lighten-3" style="width: 40%; height: 50px; margin-top: 10px; margin-bottom: 10px; border-radius: 0px 50px 50px 0px;">
                    <p>07/02/1234 : 123 vues</p></div>


            </div>
        </div>

        <div class="row" style="margin-top: 15px;">
            <a class="waves-effect waves-light btn-large black-text col s2 offset-s5"
            style="background-color: #9BE7FF; " (click)="hideMeToShow(stats, details);">Retour</a>
        </div>
    </div>
</div>