<nav>
    <div class="nav-wrapper bg-color">

      <a href="#" class="brand-logo textColor" style="margin-left: 20px; font-weight: 600;">
         <span class="material-icons black-text" style="font-size: 32px;"> home </span>
      </a>

      <ul id="nav-mobile" class="right hide-on-med-and-down">
                  
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Matériel Pro.  </a></li>
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Mode  </a></li>
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Maison  </a></li>
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Multimédia  </a></li>
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Loisir  </a></li>
        <li ><a href="#" class="black-text" style="font-weight: 500;">  Divers  </a></li>
    
      </ul>
    </div>
  </nav>
