<nav>
    <div class="nav-wrapper bg-color">

      <a href="#" class="brand-logo textColor" style="margin-left: 20px; font-weight: 600;">
         <span class="material-icons black-text" style="font-size: 32px;"> home </span>
      </a>

      <ul *ngIf="categories.length > 0" id="nav-mobile" class="right hide-on-med-and-down">
                  
        <li *ngFor="let cat of categories">
          <a href="#" class="black-text" style="font-weight: 500;">  {{ cat.nomCat }}  </a>
        </li>
      </ul>
    </div>
  </nav>
