<nav>
  <div class="nav-wrapper headerColor">
    <a href="#" class="brand-logo textColor" style="margin-left: 20px; font-weight: 600;">LeMauvaisCoin</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li style="padding-right: 50px;"><a href="#">  
        <div class="row" style="margin-top: -10%; width: 250px;">
          <span class="col s3 material-icons black-text" style="font-size: 32px; margin-top: 17%;"> add_box </span> 
          <p class="col s9 black-text" style="font-weight: 500; margin-top: 25px;"> Déposer une annonce </p>
        </div>
      </a></li>

      <li style="margin-right: 50px; height: 60px;"><a href="#">  
        <div class="row" style="margin-top: -10%;">
          <span class="col s4 material-icons black-text" style="font-size: 32px; margin-top: 20%;"> search </span> 
          <p class="col s8 black-text" style="font-weight: 500;"> Rechercher </p>
        </div>
      </a></li>

      <li><a href="#">  <span class="material-icons black-text" style="font-size: 32px; margin-top: 45%;"> favorite_border </span>  </a></li>
      <li><a href="#">  <span class="material-icons black-text" style="font-size: 32px; margin-top: 45%;"> question_answer </span>  </a></li>
      <li><a href="#">  <span class="material-icons black-text" style="font-size: 32px; margin-top: 45%;"> perm_identity </span>  </a></li>
      

    </ul>
  </div>
</nav>


