<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div #form id="form" class="center card" style="background-color: #F1EEEE;">
        <h3 style="padding: 20px;"> Vous cherchez quelque chose ?? </h3>
        <hr style="width: 98%;">

        <!--<p style="padding-top: 150px; text-align: left; padding-top: 150px; margin-left: 5%; margin-bottom: 0px; font-size: 18px; font-weight: 500; font-style: oblique;">Titre de l'annonce : </p>
        <input #titre id="titre" type="text" style="width: 90%; " placeholder="Titre de l'annonce ..">-->
        <div style="display: flex; padding-bottom: 200px; ">
            <div style="margin-left: 5%; display: flex; width: 100%;"> 
                <a  (click)="hideMeToShow(form, categorieSel);" class="waves-effect waves-light btn-large center black-text white" style="width: 50%;">
                    <p #categorie id="categorie" style="margin-top:0%;"> Choisir une catégorie ...  </p>
                    <span class="material-icons black-text" style="top: 15px; position: absolute; right: 20px; font-weight: 100;"> expand_more </span>

                </a>
                   

                <a #lieu id="lieu" (click)="hideMeToShow(form, departementSel);" class="waves-effect waves-light btn-large center black-text white" style="width: 30%;">Ou ?</a>



                <a (click)="chercher(categorie.innerText, lieu.innerText);" class="waves-effect waves-light btn-large center black-text" style="background-color: #9BE7FF; width: 15%;">Chercher</a>

            </div>
        </div>
    </div>


    <div #departementSel id="departementSel" class="center hide" >
        <ul>
            <li *ngFor="let dep of departements; let isOdd = odd;">
                <a  *ngIf="isOdd" (click)="setTextOf(lieu, dep); hideMeToShow(departementSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #9BE7FF; width: 80%;">
                    {{ dep }}
                </a>
                <a  *ngIf="!isOdd" (click)="setTextOf(lieu, dep); hideMeToShow(departementSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #F1EEEE; width: 80%;">
                    {{ dep }}
                </a>
            </li>
        </ul>
        <a (click)="hideMeToShow(departementSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #F1EEEE; width: 80%;">
            Retour
        </a>
    </div>



    <div #categorieSel id="categorieSel" class="center hide">
        <ul>
            <li *ngFor="let cat of categories; let isOdd = odd;">

                <a  *ngIf="isOdd" (click)="setTextOf(categorie, cat.nomCat); hideMeToShow(categorieSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #9BE7FF; width: 80%;">
                    {{ cat.nomCat }}
                </a>
                <a  *ngIf="!isOdd" (click)="setTextOf(categorie, cat.nomCat); hideMeToShow(categorieSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #F1EEEE; width: 80%;">
                    {{ cat.nomCat }}
                </a>

                <!--<ul *ngIf="cat.listeSousCat.length > 0">
                    <li *ngFor="let souscat of cat.listeSousCat">
                        <a  *ngIf="isOdd" (click)="setTextOf(categorie, souscat); hideMeToShow(categorieSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #9BE7FF; width: 65%; left: 7.5%;">
                            {{ souscat }}
                        </a>
                        <a  *ngIf="!isOdd" (click)="setTextOf(categorie, souscat); hideMeToShow(categorieSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #F1EEEE; width: 65%; left: 7.5%;">
                            {{ souscat }}
                        </a>
                    </li>
                </ul>-->
        </ul>    
        <a (click)="hideMeToShow(categorieSel, form);" class="waves-effect waves-light btn-large center black-text" style="background-color: #F1EEEE; width: 80%;">
            Retour
        </a>
    </div>
</div>
