<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="center card" style="background-color: #F1EEEE;">

        <h3 style="padding: 20px;"> Connexion </h3>
        <hr style="width: 99%;">

        <div class="row">
            <h5 class="col s5"> Identifiant : </h5>
            <div class="input-field col s7">
                <input placeholder="Identifiant" id="Identifiant" type="text" class="validate left" style="width: 90%;">
                <label for="Identifiant">Identifiant</label>
            </div>
        </div>

        
        <div class="row">
            <h5 class="col s5"> Mot de passe : </h5>
            <div class="input-field col s7">
                <input placeholder="Mot de passe" id="password" type="password" class="validate left" style="width: 90%;">
                <label for="password"> Mot de passe</label>
            </div>
        </div>

        <hr style="width: 99%;">
        <a class="waves-effect waves-light btn-large center black-text" style="margin-top: 25px; background-color: #9BE7FF;">Valider</a>
        <a href="#" [routerLink]="['/inscription']" style="margin: 5px; " class="black-text"> <p> Vous n'avez pas de compte ? Inscrivez vous ici. </p> </a>

    </div>
</div>