<nav class="bg-color" style="display: flex;">

    <div style="display: flex;"> 
        <a href="#">  
            <span class="material-icons black-text" style="font-size: 32px; margin: 20px; margin-top: 15px;"> shop </span>
        </a>

        <p class="black-text" style="font-weight: 500; margin-left: 30px; margin-top: 0px;"> Téléchargez notre application sur le PlayStore</p>
    </div>

    <div style="right: 50px; position: fixed;" > 

        <a href="#"> <p class="black-text right" style="font-weight: 500; margin-top: 0px;"> Contact</p> </a>
    </div>
  </nav>
