<div class="row container" style="margin-top: 20px;">

    <div #userProfile id="userProfile" class="col s3 card" style="background-color: #F1EEEE; ">
        <h4 class="center"> Conversations </h4>
        <hr style="width: 80%;">

        <div class="row" style="margin-top: 15px; height: 500px;   overflow-x: hidden; overflow-y: auto;">

                <a *ngFor="let x of '12345123456789'.split('') "  
                class="waves-effect waves-light btn-large black-text col s10 offset-s1" (click) = "hideMeToShow(noConv, conv);"
                style="background-color: #9BE7FF; margin-top: 6px; margin-bottom: 6px;">UTILISATEUR_X</a>
        </div>

    </div>

    <div #conv id="conv" class="col s9 hide"  style="background-color: #ffffff;">

        <h4 class="center"> UTILISATEUR_X  </h4>
        <hr style="width: 75%;" class=" center">

        <div class="container" style="height: 450px;   overflow-x: hidden; overflow-y: auto;"> 
            <div class="right card" style="background-color: #64B5F6; width: 80%; border-radius: 20px 20px 0px 20px;"> 
                <p class="center">  erkgjneroipgerpiogjeropgjeropgjeroipgjeorigjoerip jeroikjgnrfklsjgn erigj wlmdfkjgs eojrklsjfndg</p>
            </div>
            <div class="left card" style="background-color: #9BE7FF;  width: 80%; border-radius: 20px 20px 20px 0px;"> 
                <p class="center"> erkgjneroipgerpiogjeropgjeropgjeroipgjeorigjoerip jeroikjgnrfklsjgn erigj wlmdfkjgs eojrklsjfndg</p>
            </div> 
            
            <div *ngFor="let x of '12345123456789'.split('') " class="left card" style="background-color: #9BE7FF;  width: 80%; border-radius: 20px 20px 20px 0px;"> 
                <p class="center"> erkgjneroipgerpiogjeropgjeropgjeroipgjeorigjoerip jeroikjgnrfklsjgn erigj wlmdfkjgs eojrklsjfndg</p>
            </div>
        </div> 
        <hr style="width: 75%;" class=" center">

        <div class="container" style="height: 40px; margin-top: 5px; margin-bottom: 5px;"> 
            <div class=" row">
                <div class="input-field col s11">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Envoyez un message</label>
                </div>
                <a class="btn-large black-text col s1"
                style="background-color: #ffffff;  ">
                <span class="material-icons " style="margin-top: 10px; font-size: 32px;"> send </span>
                </a>
            </div>
        </div>
    </div>


    <div #noConv id="noConv" class="col s9 "  style="background-color: #ffffff;">
        <div class="container">
            <h4 class="center"> Vous n'avez pas de message  </h4>
            <hr style="width: 75%;" class=" center">
            <img class="responsive-img center" style="margin-top: 50px;" src="assets/img/logos/2d_logo.png">
        </div>
    </div>


</div>